#footer
  background: #eee
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey

#footer-info
  line-height: line-height
  font-size: 0.85em

.footer__text {
  text-align center;
  color: #326874;
  font-size: 1rem;

  a {
    text-decoration none;
    color: #326874;

    &:hover {
      text-decoration: underline;
    }
  }
}
