// ============================================================================
// Typography
// ============================================================================

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bitter', serif;
}

p {
	font-family: 'PT Sans', sans-serif;
}

a {
	font-family: 'PT Sans', sans-serif;
}
